.wrapper {
  width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.stepContent {
  margin-top: 2rem;
}

.moreDetail {
  position: absolute;
  background-color: #6c6ce5;
  color: white;
  padding: 1rem;
  width: 300px;
  border-radius: 1rem 1rem 0;
  left: -310px;
  top: -100px;
  font-weight: 600;

  @media (max-width: 768px) {
    border-radius: 1rem;
    position: static;
  }
}

.formStep {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


input:disabled,
textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}


.calendar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.day[data-selected] {
  background-color: hsl(353, 100%, 65%) !important;
  color: white !important;
}

