@use "../../styles/abstracts" as *;


.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home_img {
  margin-bottom: 1.5rem;
  width: 300px;
}

.home_name {
  font-size: $fs-h1;
  font-weight: $fw-bold;
  margin-bottom: 0.5rem;
  z-index: 11;
}

.education {
  width: 300px;
  margin-left: 5rem;
  z-index: 11;
}


@media screen and (max-width: $ipad) {
  .home {
    flex-direction: column;
    min-height: 100vh;
  }

  .home_name {
    font-size: $fs-h2;
  }
}

@media screen and (max-width: $mobile) {

  .introWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;

  }
  .home_name {
    font-size: $fs-h3;
  }
}
